* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.wrapper {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.form-container {
  margin: 15px 20px;
  width: 50%;
  background-image: linear-gradient(to right, #333 0%, #2575fc 100%);
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
  padding: 60px;
}
.form-title {
  margin: 0;
  padding: 5px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
}
.form input {
  width: 100%;
  padding: 8px 15px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 0.1);
  border: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
}
.form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
label {
  display: block;
  padding: 20px 0;
  font-size: 14px;
  font-weight: thin;
  letter-spacing: 2px;
}
.save-trip {
  margin: 25px 0;
  padding: 10px;
  color: rgb(233, 79, 79);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  background-color: transparent;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
}
/* Modal section */
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(77, 47, 196, 0.7);
  background-image: linear-gradient(
    rgba(158, 183, 220, 0),
    rgb(48, 62, 143, 0)
  );
}
.info {
  display: flex;
  min-height: 100vh;
  justify-items: center;
  align-items: center;
}
.info > div {
  flex: 1;
  min-height: 100%;
}
.country-img {
  width: 100%;
}
.country-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.temperature {
  display: flex;
  align-items: center;
  justify-content: center;
}
.temperature h2 {
  font-size: 45px;
}
.temperature span {
  margin: 10px;
  font-size: 32px;
}

.close {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
@media screen and (max-width: 770px) {
  .form-container {
    width: 100%;
    padding: 30px;
  }
  .info {
    flex-direction: column;
  }
}
